* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.parent {
    border: 10px solid blue;
    background-color: dodgerblue;
    padding: 40px 0;
}

.child {
    border: 6px solid red;
    background-color: orange;
    color: white;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    white-space: nowrap;
}

.child:nth-child(odd) {
    border-color: darkviolet;
    background-color: #c92fff;
}

/*
Flexible Box Styles
*/
.flexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.flexItem {
    order: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
    /*flex: 1 1 300px;*/
}
