/*
[attr=""] 10
.class 10
:hover 10

*/
[title] {
    border: 10px solid red;
}

[lang="ru"] {
    text-decoration: line-through;
}

[class|="class"] {
    text-decoration: underline;
}

[class^="test"] {
    color: green;;
}

[class$="B"] {
    color: blue;;
}

[title*="tes"] {
    background-color: mediumspringgreen;
}

h2 + p#frText.pretty[lang="fr"] {
    font-size: 20px;
    border: 10px solid green;
}
