
.listItem {
    border: 2px solid;
    border-radius: 10px;
    max-width: 700px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
}

.oneLineText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.listItem > * {
    flex-grow: 0.5;
}

.eventName {
    margin-left: auto;

}

.eventDate {
    text-align: right;
}
